<section id="gdpr-consent" class="gdpr-consent content p-4 alert-dismissable alert-dismissible fade show fixed-bottom">

    <div class="" role="alert">
        <div class="container">
            <div class="row align-items-center pb-4">
                <div class="col">
                    This website uses one cookie. <br />
                    By using this website, you agree to our <a href="/privacy">Privacy Policy and GDPR Compliance Statement</a>.
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <button id="accept-btn" type="button">Accept</button>
                    <button id="reject-btn" type="button">Reject</button>
                </div>
            </div>
        </div>
    </div>

</section>