<div id="gdpr-consent" class="p-4 gdpr-consent content alert-dismissable alert-dismissible fade show fixed-bottom" role="alert">
    <div class="container">
        <div class="row align-items-center pb-4">
            <div class="col">
                This website uses one cookie. By using this website, you agree to our <a href="/privacy">Privacy Policy</a>.
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button id="accept-btn" class="btn btn-primary btn-sm rounded-pill">Accept</button>
                <button id="reject-btn" class="btn btn-secondary btn-sm ms-2 rounded-pill">Reject</button>
            </div>
        </div>
    </div>
</div>