<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container m-4" data-aos="fade-in">
        <h1>Villa Monte Kariotes</h1>
        <p data-aos="fade-in">Your next Greek vacation home</p>
    </div>
</section>
<!-- End Hero Section -->