@page
@model Vmk.Client.Pages.Error._404.IndexModel
@{
    ViewData["Title"] = "Page not found (404)";
    ViewData["MetaTitle"] = "Page not found";
}

<section id="error" class="error content section-bg" style="height: 100vh;">

    <div class="container">

        <div class="content">
            <div class="section-title">
                <h1>Villa Monte Kariotes</h1>
                <h2>Error 404 - Page Not Found</h2>
            </div>
        </div>

        <div class="mb-5 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30">
                <path fill="#f78f8f" d="M15,28.5C7.556,28.5,1.5,22.444,1.5,15S7.556,1.5,15,1.5S28.5,7.556,28.5,15S22.444,28.5,15,28.5z"></path>
                <path fill="#c74343" d="M15,2c7.168,0,13,5.832,13,13s-5.832,13-13,13S2,22.168,2,15S7.832,2,15,2 M15,1 C7.268,1,1,7.268,1,15s6.268,14,14,14s14-6.268,14-14S22.732,1,15,1L15,1z"></path>
                <path fill="#fff" d="M14 8H16V22H14z" transform="rotate(134.999 15 15)"></path>
                <path fill="#fff" d="M14 8H16V22H14z" transform="rotate(-134.999 15 15)"></path>
            </svg>
        </div>

        <p>
            Oops, we couldn't find the page you requested. Most likely, this is
            caused by a page that has been removed or a typo that slipped into an url.
        </p>
        <p>
            This should not be happening of course. We apologize.
        </p>
        <p>
            Please return to the <a href="/" title="Home">home page</a>.
        </p>

    </div>

</section>