@page

@model IndexModel

@{
    ViewData["Title"] = "Villa Monte Kariotes";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container m-4" data-aos="fade-in">
        <h1>Villa Monte Kariotes</h1>
        <p data-aos="fade-in">Your next Greek vacation home</p>
    </div>
</section>
<!-- End Hero Section -->

@await Component.InvokeAsync("About")

@await Component.InvokeAsync("Accomodations")

@await Component.InvokeAsync("Reservations")

@await Component.InvokeAsync("Gallery")

@await Component.InvokeAsync("Testimonials")

@await Component.InvokeAsync("Faq")

@await Component.InvokeAsync("Contact")
