<section id="reservations" class="reservations">

    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h2>Make your reservation now!</h2>
            <p>
                Villa Monte Kariotes is popular.
                Make your reservation by calling or chatting to your hosts Christine or Barbara.
                They will be happy to assist you. Please tap or click the buttons below to initiate WhatsApp directly.
            </p>
        </div>

        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-6 text-end">
                    <a href="https://wa.me/306976419329" title="Call or chat to Christine" class="btn reservations-btn align-items-center">
                        <span class="ms-2 rounded-5 d-flex align-items-start justify-content-center">
                            <i class="bx bxl-whatsapp"></i>
                            <span class="name">Christine</span>
                        </span>
                        <span class="phone">+30 697 6419329</span>
                    </a>
                </div>
                <div class="col-6 text-start">
                    <a href="https://wa.me/306977220523" title="Call or chat to Barbara" class="btn reservations-btn align-items-center">
                        <span class="ms-2 rounded-5 d-flex align-items-start justify-content-center">
                            <i class="bx bxl-whatsapp"></i>
                            <span class="name">Barbara</span>
                        </span>
                        <span class="phone">+30 697 7220523</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>