
<!-- ======= Reservations Section ======= -->
<section id="reservations" class="reservations">

    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h2>Make your reservation now!</h2>
            <p>
                Villa Monte Kariotes is popular.
                Make your reservation by calling or chatting to your hosts Christine or Barbara.
                Contact them directly via WhatsApp or Messenger here.
            </p>
        </div>

        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-12 text-center">
                    <a href="https://wa.me/306976419329" title="Contact us via WhatsApp: +30 697 6419329" class="me-2">
                        <img src="~/img/whatsapp-button-logo.svg" alt="Contact us via WhatsApp: +30 697 6419329" width="70px" height="70px" />
                    </a>
                    <a href="https://m.me/villamontekariotes" title="Contact us via Facebook Messenger: https://messenger.com/villamontekariotes" class="ms-2">
                        <img src="~/img/messenger-button-logo.svg" alt="Contact us via Facebook Messenger: https://messenger.com/villamontekariotes" width="60px" height="60px" />
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Reservations Section -->