
<!-- ======= Accomodations Section ======= -->
<section id="accomodations" class="accomodations">

    <div class="container">

        <div class="section-title">
            <h2>Accomodations</h2>
            <p>
                Please find below a list of accomodations that might help you choose
                for Villa Monte Kariotes as your next vacation home.
            </p>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                <div class="accomodation-box">
                    <i class="bx bx-wifi"></i>
                    <p>Free <strong>wifi</strong> is available.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="accomodation-box">
                    <i class="bx bxs-dog"></i>
                    <p>Your <strong>furry friends</strong> are more than welcome. Your goldfish too.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="accomodation-box">
                    <i class="bx bxs-sushi"></i>
                    <p><strong>Two bathrooms</strong>, one on each floor.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-shower"></i>
                    <p>A <strong>walk-in shower</strong>.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-bath"></i>
                    <p>A <strong>hot tub</strong> on the first floor.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-hot"></i>
                    <p>A built-in <strong>barbecue</strong> is available on the main terrace.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bx-swim"></i>
                    <p>Your <strong>private swimmig pool</strong>, available in high season.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-tv"></i>
                    <p>A <strong>smart tv</strong>. On rainy days?</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-bowl-hot"></i>
                    <p>A modern, fully equipped <strong>kitchen</strong> with dishwasher.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-bed"></i>
                    <p>Three <strong>king-size beds</strong> and one sofa bed. </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-car"></i>
                    <p>There is a <strong>parking spot</strong> on the property.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-sun"></i>
                    <p><strong>Central heating</strong> for chillier days.</p>
                </div>
            </div>
        </div>


    </div>

</section>
<!-- End Accomodations Section -->